<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>profile查询</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index_reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index_main.css">
</head>
<body>

	<div method="post" class="login_form">

        <h1 class="login_title">功能选择</h1>
		<a href="/profile" class="input_sub">profile 查询</a>
        <a href="/scatter" class="input_sub">关键词散点图</a>
	</div>
	<div class="login_bg"></div>
</body>
</html>