
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>散点图</title>
	<link rel="stylesheet" type="text/css" href="../static/css/profile_reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_main.css">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="../static/js/profile_main.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/scatter.js"></script>
</head>
<body>
    <form class="base_info">
        <h3>
            关键词散点图
            <a href="/index" class="return_botton">
                返回首页
            </a>
        </h3>
        <div class="form-group">
            <label>关键词：</label>
            <input id="signature" type="text" name="signature" class="input_txt">
        </div>

        <div class="form-group">
            <button type="submit" class="input_sub" id="btn1">点击查询</button>
        </div>
        <div id="div1" style="display:none;">正在查询 .</div>
        <div id="div2" style="display:none;">正在查询 . .</div>
        <div id="div3" style="display:none;">正在查询 . . .</div>
        <div id="div4" style="display:none;">查询成功！</div>

        <div style="height: 500px;width: 700px;display: none" id="ul1"></div>
    </form>



</body>

</html>